html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    background-color: white;
}
