
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  
  

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

    .menu-container { 
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        

}   

.menu-drink {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
margin-bottom: 60px;

}

.drinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    margin-right: 100px;
    margin-top: 50px;
} 

.drinks p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.drinks2 p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 100;
}

.make-row {
    display: flex;
}





body {
    margin: 0;
}




 
.header .current {
    color: #272728;
    font-weight: 500;
}

.footer .current {
    color: #C4CAD0;
    text-decoration: none;
}