html {
    box-sizing: border-box;
    font-weight: lighter;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}



.container {
    display: flex;
    flex-direction: column;
    margin: 10%;

    .cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        .card {
            width: 45%;


            img {
                width: 100%;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

h1 {
    font-weight: lighter;
}

h2 {
    margin-bottom: 0;
    font-weight: lighter;
    background-color: #ced4da6e;
}
.text-small {
    font-size: 16px;
}