
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    width: 100%; 
}

    .menu-container { 
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        

}   

.menu-drink {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;

}

.drinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    margin-right: 50px;
} 

p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}










 
